<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bmi Calculator</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/favicon.ico">
</head>

<body>
  <h1 style="text-align:center;">BMI CALCULATOR</h1>
  <form action="/" method="post">
    <input type="text" name="weight" placeholder="Weight in kg" style="text-align:center;">
    <input type="text" name="height" placeholder="Height in m" style="text-align:center;">
    <button type="submit" name="Submit">Calculate BMI</button>
  </form>
  <br>
  <br>
  <div class="bminfo">
    <h3>BMI categories</h3>
    <ul>
      <li>Underweight =< 18.5</li>
      <li>Normal weight = 18.5–24.9</li>
      <li>Overweight = 25–29.9</li>
      <li>Obesity = BMI of 30 or greater</li>
    </ul>
  </div>
  <br>
  <div class="info2">
    <h3>BMI charts for adults</h3>
    <p>This is a graph of BMI categories based on the World Health Organization data. The dashed lines represent subdivisions within a major categorization.</p>
    <img src="images/chart.jpg" alt="bmi_chart">
  </div>
  <br>
  <div class="info3">
    <h3>Risks associated with being overweight</h3>
    <p>Being overweight increases the risk of a number of serious diseases and health conditions. Below is a list of said risks, according to the Centers for Disease Control and Prevention (CDC):</p>

    <ul>
      <li>High blood pressure</li>
      <li>Type II diabetes</li>
      <li>Coronary heart disease</li>
      <li>Stroke</li>
      <li>Gallbladder disease</li>
      <li>Osteoarthritis, a type of joint disease caused by breakdown of joint cartilage</li>
      <li>Body pains and difficulty with certain physical functions</li>
      <li>Many more ...</li>
    </ul>

  </div>
  <br>
  <div class="info4">
    <h3>Risks associated with being underweight</h3>
    <p>Being underweight has its own associated risks, listed below:</p>

    <ul>
      <li>Malnutrition, vitamin deficiencies, anemia (lowered ability to carry blood vessels)</li>
      <li>Osteoporosis, a disease that causes bone weakness, increasing the risk of breaking a bone</li>
      <li>A decrease in immune function</li>
      <li>Growth and development issues, particularly in children and teenagers</li>
      <li>Potential complications as a result of surgery</li>
      <li>Many more ...</li>
    </ul>
  </div>
  <br>
  <div class="info5">
    <h3>Path to improved health</h3>
    <p>If your BMI shows you’re overweight or obese, you can lower your BMI by losing weight. This can be done by following standard weight-loss tips, such as:</p>
    <ul>
      <li><b>Eating healthy.</b>Choose lean meats, fruits, vegetables, and whole grains. Reduce alcohol, sugar, processed foods, sodas, and juices. Consume fewer calories.</li><br>
      <li><b>Exercising regularly.</b>This includes cardio and weight-bearing exercises to build muscle and lose fat. This is effective in controlling belly fat. </li><br>
      <li><b>Being mindful of portion control.</b> Don’t overeat during meals and snacks.</li><br>
    </ul>
</body>

</html>
