<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bmi Calculator</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/favicon.ico">
</head>

<body>
  <div align="center">
    <h1>Your BMI is displayed below</h1>
    <br>
    <br>
    <div class="res"><b>BMI : <%=data%></b></div>
    <h2>Stay healthy.<br>  Stay fit.</h2>
  </div>
</body>

</html>
